*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #08001f, #30197d);
    color: #fff;
    position: relative;
}
.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: red; */
}
.clock{
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    backdrop-filter: blur(40px);    
}
.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background: #4c23e3;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}
.container::after{
    content: '';
    width: 180px;
    height: 180px;
    background: #ff414e;
    border-radius: 5px;
    position: absolute;
    right: -30px;
    bottom: -50px;
    z-index: -1;
}
.clock span{
    font-size: 80px;
    width: 100px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.buttons{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
button{
    padding: 10px;
    font-size: 26px;
    color: #fff;
    background: linear-gradient(45deg, #08001f, #30197d, #419aff, #f42b75, #08001f);
    outline: 0;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    /* transform: skew(5deg); */
}
.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}
#hours::after{
    content: 'HOURS';
}
#minutes::after{
    content: 'MINS';
}
#seconds::after{
    content: 'SEC';
}
